@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root{
    --ancho-maximo: 1440px;
    --azul-grizaceo-oscuro: hsl(217, 19%, 35%);
    --azul-oscuro-desaturado:
    hsl(214, 17%, 51%);
    --azul-grizaceo: hsl(212, 23%, 69%);
    --azul-grizaceo-claro: hsl(210, 46%, 95%);
}

*{
    margin:0;
    box-sizing:border-box;
    padding:0;
}

body{
    background-color: var(--azul-grizaceo-claro);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
}

.contenedor{
    max-width: var(--ancho-maximo);
    display: flex;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 2px 4px 10px var(--azul-oscuro-desaturado);
}

.contenedor__img{
  max-height: 528px;
  
}

.img1{
    border-radius: 1.5rem 0 0 1.5rem;
}

.contenedores{
    display: flex;
    flex-direction: column;
    margin: 6rem 6rem 6rem 6rem;
}


